*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
  font-family: "Margin";
  src: url("font/margin/Margin\ DEMO.otf");
  font-weight: normal;
  font-style: normal;
}

/* =========================
   Variabler
========================= */
:root {
    --green: #C3C471;
    --softlight: #FFFFBF;
    --paws: #FFF68C;
    --black: #000;
    --pink: #FFBFDB;
    --h1-font-family: "Caveat", Helvetica, sans-serif;
    --h1-font-size: 64px;
    --h1-font-weight: 400;
    --h3-font-family: "Inter-Regular", Helvetica, sans-serif;
    --h3-font-size: 24px;
    --h3-font-weight: 400;
}

/* =========================
   Body / startsida container
========================= */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    font-family: var(--h3-font-family);
    font-size: clamp(14px, 2.5vw, 22px);;
    background-color: #FFF68C;
    color: var(--black);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("img/paw-print-background-pattern/Paw Print Background Pattern.jpg");
  background-size: 400px;
  background-repeat: repeat;

  opacity: 0.1;

  z-index: -1;
}

/* =========================
   Header / hero
========================= */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 0;
  margin: 0;
  width: 100%;
  background-color: var(--green);

  position: relative;
  overflow: hidden;
}

.logo {
  font-family: "Margin";
  font-weight: var(--h1-font-weight);
  font-size: clamp(42px, 10vw, 122px);
  color: var(--softlight);
  text-align: center;
  z-index: 1;
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 40px;
  height: 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: none;
  border: none;
  cursor: pointer;

  z-index: 7;
}

.hamburger span {
  height: 4px;
  width: 100%;
  background: var(--softlight);
  border-radius: 3px;
  transition: 0.25s ease;
}

.menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.3);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  z-index: 5;
}

.menu-overlay.active {
  opacity: 1;
  pointer-events: all;
}


.side-menu a {
  color: black;
  font-size: clamp(18px, 5vw, 32px);
  text-decoration: none;
  font-family: "Caveat";
}

.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  background: var(--softlight);
  backdrop-filter: blur(10px);

  box-shadow: -10px 0 30px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 70px;

  padding: 100px 40px;

  transform: translateX(-100%);
  transition: transform 0.35s ease;

  z-index: 6;
}

.side-menu.active {
  transform: translateX(0);
}

.hamburger.active span {
  background: var(--black);
}

.hamburger.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}


/* =========================
   Main
========================= */

#kickan {
  scroll-margin-top: 100px;
}

#elize {
  scroll-margin-top: 100px;
}

.kattungar-container {
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    max-width: 800px;
    margin: auto;
    gap: 0px;
}

.kull {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 60px;

    padding: 20px 10px 40px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    
    background-color: var(--softlight);
    border-radius: 20px;
}

.kull-rubrik {
    font-family: "Caveat", Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;
    margin: 20px 0 10px;
}

.kull-rubrik span {
    display: block;
    font-size: 18px;
    font-family: "Caveat";
}

.kattunge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;

  text-align: left;
  gap: 40px;

  background-color: var(--softlight);
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid rgba(0,0,0,0.08);
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 250px;
  overflow: hidden;
  touch-action: pan-y;
  user-select: none;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 5 / 4;
  flex-shrink: 0;

  border: 1px solid var(--pink);
  border-radius: 16px;
}

/* klickzoner */
.carousel-click {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.carousel-click.left {
  left: 0;
}

.carousel-click.right {
  right: 0;
}

/* indikatorer */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

.carousel-dots span {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.carousel-dots .active {
  background: #333;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
}

.info p {
  margin: 0;
  font-size: 32px;
  font-family: "Caveat", Helvetica, sans-serif;
}

.info strong {
  font-weight: 600;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}


/* =========================
   Footer
========================= */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    background-color: var(--green);
    padding: 60px 20px;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
}

.footer-left {
    display: flex;
}

.footer-right {
    display: flex;
    gap: 40px;
}

.footer-sektion {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 12px;
    width: auto;
}

.footer-sektion h3 {
    font-family: "Margin";
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0;
    text-align: left;
}

.footer-sektion p,
.footer-sektion a {
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
    text-align: left;
}

.footer-sektion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-sektion ul li {
  margin-bottom: 8px;
}

.footer-sektion ul li a {
    text-decoration: none;
    color: var(--black);
}


@media (max-width: 800px) {

  .kattunge {
    gap: 0px;
  }

  .carousel {
    width: 100%;
  }

  .side-menu {
      width: 100%;
      gap: 3px;
    }

    .side-menu a {
      font-size: 18px;
    }

  .info {
    gap: 10px;
    padding-left: 40px;
  }

  .info p {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info strong {
    font-size: 16px;
  }

  .footer-inner {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer-right {
    flex-direction: column;
    gap: 40px;
  }

  .footer-sektion {
    align-items: center;
    text-align: center;
  }
}