*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
  font-family: "Margin";
  src: url("font/margin/Margin\ DEMO.otf");
  font-weight: normal;
  font-style: normal;
}

/* =========================
   Variabler
========================= */
:root {
    --green: #C3C471;
    --softlight: #FFFFBF;
    --paws: #FFF68C;
    --black: #000;
    --pink: #FFBFDB;
    --h1-font-family: "Caveat", Helvetica, sans-serif;
    --h1-font-size: 64px;
    --h1-font-weight: 400;
    --h3-font-family: "Inter-Regular", Helvetica, sans-serif;
    --h3-font-size: 24px;
    --h3-font-weight: 400;
}

/* =========================
   Body / startsida container
========================= */
body {
    margin: 0;
    font-family: var(--h3-font-family);
    background-color: #FFF68C;
    color: var(--black);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("img/paw-print-background-pattern/Paw Print Background Pattern.jpg");
  background-size: 400px;
  background-repeat: repeat;

  opacity: 0.1;

  z-index: -1;
}

/* =========================
   Header / hero
========================= */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 0;
    margin: 0;
    width: 100%;
    background-color: var(--green);

    position: relative;
}

.logo {
    font-family: "Margin";
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    color: var(--softlight);
    text-align: center;
    z-index: 1;
}


/* =========================
   Main
========================= */

#kickan {
  scroll-margin-top: 100px;
}

#elize {
  scroll-margin-top: 100px;
}

.kattungar-container {
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    max-width: 800px;
    margin: auto;
    gap: 0px;
}

.kull {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 60px;

    padding: 20px 10px 40px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    
    background-color: var(--softlight);
}

.kull-rubrik {
    font-family: "Caveat", Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;
    margin: 20px 0 10px;
}

.kull-rubrik span {
    display: block;
    font-size: 18px;
    font-family: "Caveat";
}

.kattunge {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;

    text-align: left;
    gap: 40px;

    background-color: var(--softlight);
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid rgba(0,0,0,0.08);
}

.carousel {
  position: relative;
  width: 250px;
  overflow: hidden;
  touch-action: pan-y;
  user-select: none;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}

.carousel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;

  border: 1px solid var(--pink);
  border-radius: 16px;
}

/* klickzoner */
.carousel-click {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.carousel-click.left {
  left: 0;
}

.carousel-click.right {
  right: 0;
}

/* indikatorer */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

.carousel-dots span {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.carousel-dots .active {
  background: #333;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;
}

.info p {
    margin: 0;
    font-size: 32px;
    font-family: "Caveat", Helvetica, sans-serif;
}

.info strong {
    font-weight: 600;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}


/* =========================
   Footer
========================= */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    background-color: var(--green);
    padding: 60px 20px;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
}

.footer-left {
    display: flex;
}

.footer-right {
    display: flex;
    gap: 40px;
}

.footer-sektion {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 12px;
    width: auto;
}

.footer-sektion h3 {
    font-family: "Margin";
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0;
    text-align: left;
}

.footer-sektion p,
.footer-sektion a {
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
    text-align: left;
}

.footer-sektion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-sektion ul li {
  margin-bottom: 8px;
}

.footer-sektion ul li a {
    text-decoration: none;
    color: var(--black);
}


@media (max-width: 800px) {

    .kattunge {
        gap: 0px;
    }

    .info {
        gap: 10px;
        padding-left: 40px;
    }

    .info p {
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info strong {
        font-size: 16px;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer-right {
        flex-direction: column;
        gap: 40px;
    }

    .footer-sektion {
        align-items: center;
        text-align: center;
    }
}